//HEIGHT
$searchBoxHeight: 55px;
$logoMenuHeight: 46px;
$navMenuHeight: 70px;
$dashboardHeaderHeight: 25%;
$dashboardBodyHeaderHeight: 17%;
$portalHeaderHeight: 25%;

//SPACING
$huge: 64px;
$large: 32px;
$medium: 16px;
$small: 8px;
$tiny: 4px;
$tinier: 2px;
$tiniest: 1px;

//SHADOWS
$default-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
$light-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
$subheader-shadow: 5px 2px 3px rgba(0, 0, 0, 0.16);

//FONTS
$fontMega: 35px;
$fontHuge: 30px;
$fontLarge: 20px;
$fontMediumLarge: 18px;
$fontMedium: 16px;
$fontSmallMedium: 15px;
$fontSmall: 14px;
$fontTiny: 13px;
$fontTinier: 12px;
$fontTiniest: 10px;

// WIDTHS
$sideBarWidth: 430px;

// SIZES
$tagCircleSize: 5px;
